In [12]:
import pandas as pd

In [13]:
studentLoans = pd.read_csv('Inferential Statistics - Student Loan.csv')

In [14]:
studentLoans.shape

(10000, 6)

In [15]:
studentLoans

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN
...,...,...,...,...,...,...
9995,9996,19.79,20.19%,0.0079,NaN,NaN
9996,9997,18.33,38.38%,0.0068,NaN,NaN
9997,9998,10.83,28.40%,0.0037,NaN,NaN
9998,9999,24.29,37.37%,0.0056,NaN,NaN
9999,10000,0.03,22.55%,0.0032,NaN,NaN

In [16]:
studentLoans.isnull().sum()

Customer No.                             0
Exposure at Default (in lakh Rs.)        0
Recovery (%)                             0
Probability of Default                   0
Unnamed: 4                           10000
Unnamed: 5                           10000
dtype: int64

In [17]:
studentLoans.dtypes

Customer No.                           int64
Exposure at Default (in lakh Rs.)    float64
Recovery (%)                          object
Probability of Default               float64
Unnamed: 4                           float64
Unnamed: 5                           float64
dtype: object

In [18]:
studentLoans['Recovery (%)'].value_counts()

8.21%     10
25.60%    10
17.77%     8
28.58%     8
8.85%      8
          ..
11.47%     1
10.74%     1
8.04%      1
32.47%     1
34.51%     1
Name: Recovery (%), Length: 3664, dtype: int64

In [19]:
studentLoans['Recovery (%)'] = studentLoans['Recovery (%)'].apply(lambda x: float(x[:-1]))

In [20]:
studentLoans.dtypes

Customer No.                           int64
Exposure at Default (in lakh Rs.)    float64
Recovery (%)                         float64
Probability of Default               float64
Unnamed: 4                           float64
Unnamed: 5                           float64
dtype: object

In [21]:
studentLoans['Expected Loss'] = studentLoans['Probability of Default'] * studentLoans['Exposure at Default (in lakh Rs.)'] * (100 - studentLoans['Recovery (%)'])

In [22]:
studentLoans

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,Expected Loss
0,1,11.50,20.00,0.0070,NaN,NaN,6.440000
1,2,0.24,5.10,0.0033,NaN,NaN,0.075161
2,3,0.04,24.86,0.0022,NaN,NaN,0.006612
3,4,13.81,2.29,0.0066,NaN,NaN,8.905876
4,5,19.84,3.47,0.0020,NaN,NaN,3.830310
...,...,...,...,...,...,...,...
9995,9996,19.79,20.19,0.0079,NaN,NaN,12.477575
9996,9997,18.33,38.38,0.0068,NaN,NaN,7.680563
9997,9998,10.83,28.40,0.0037,NaN,NaN,2.869084
9998,9999,24.29,37.37,0.0056,NaN,NaN,8.519183
9999,10000,0.03,22.55,0.0032,NaN,NaN,0.007435

In [26]:
studentLoans['Expected Loss'].sum()

49339.131440619996

In [ ]:
import matplotlib as plt

In [ ]:
studentLoans['Expected Loss'].plot.barh()