In [1]:
n=int(input())

if n == 1:
    print(0)
elif n >= 2:
    print(0)
    print(1)
    ppr = 0
    pr = 1        
    for x in range(2, n):
        cur = ppr + pr
        print(cur)
        ppr = pr
        pr = cur

10
0
1
1
2
3
5
8
13
21
34

In [21]:
n=int(input())

def isPrime(n):
    n = abs(n)
    if n == 1:
        return 0
    i = 2
    while i*i <= n:
        if n % i == 0:
            return 0
        i += 1
    return 1

if isPrime(n):
    print("number entered is prime")
else:
    print("number entered is not prime")

78
number entered is not prime

In [37]:
n=int(input())

def isArmstrong(n):
    sum_of_cubes = 0
    tn = n
    while n > 0:
        sum_of_cubes += pow(n % 10, 3)
        n = n // 10
    return sum_of_cubes == tn

print(isArmstrong(n))

153
True

In [2]:
import pandas as pd
import ast,sys

df = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/X0kvr3wEYXRzONE5W37xWWYYA/test.csv")
input_str = sys.stdin.read()
to_omit = ast.literal_eval(input_str)

selected = [x for x in list(df.columns) if x not in to_omit]
df = df.loc[:, selected]
df = df.reindex(sorted(df.columns), axis=1)
print(df.head(5))

SyntaxError: unexpected EOF while parsing (<unknown>, line 0)

In [4]:
s1 = pd.Series([1,2,3,4,5,6,7])
s2 = pd.Series([1,3,7])

list(s2.apply(lambda x : s1[s1 == x].index[0]))

[0, 2, 6]

In [5]:
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [6]:
s2

0    1
1    3
2    7
dtype: int64

In [35]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/8NMooe4G0ENEe8z9q5ZvaZA7/googleplaystore.csv")
#add your cleaning code here
df['Installs'].value_counts()

1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Free                 1
Name: Installs, dtype: int64

In [36]:
df['Installs'] = df['Installs'].apply(lambda x : 0 if x == 'Free' else int(x.replace(',', '').replace('+', '')))

In [37]:
df['Installs'].value_counts()

1000000       1579
10000000      1252
100000        1169
10000         1054
1000           907
5000000        752
100            719
500000         539
50000          479
5000           477
100000000      409
10             386
500            330
50000000       289
50             205
5               82
500000000       72
1               67
1000000000      58
0               16
Name: Installs, dtype: int64

In [34]:
df.corr()

            Rating  Installs
Rating    1.000000  0.048652
Installs  0.048652  1.000000

In [53]:
# Read the input string
input_string = input()

# Write your code here
def capitalise(data):
    return ' '.join([x if x[0].isupper() else x[0].upper() + x[1:] for x in data.split(' ')]).strip()

capitalise(input_string)

I am now a master of Logistic regression

'I Am Now A Master Of Logistic Regression'

In [56]:
nums = [7, 2, 0, 9, -1, 8]
sorted(nums)[-2]

8

In [61]:
# Importing the Pandas package and reading the data
import pandas as pd
wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OkbnaOBqrBXZOpRQw1JGMgaM9/Wholesale_Data.csv')

maps = {
    "H": "Hotel",
    "Hote": "Hotel",
    "Hot": "Hotel",
    "R": "Restaurant",
    "Rest": "Restaurant",
    "C": "Cafe",
    "Caffe": "Cafe"
}

# Write your code here. Make sure that you change the values in the column 'Channel' inplace. 

wholesale['Channel'] = wholesale['Channel'].apply(lambda x : maps[x] if x in maps else x)




# The final print statement. Please don't edit this part. Also don't write any other
# print statement otherwise your answer will not match even if it is correct
print(wholesale['Channel'].value_counts())

Hotel         146
Cafe          123
Restaurant    101
Name: Channel, dtype: int64

In [62]:
# Import Pandas and read the dataframe
import pandas as pd
wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OqwpypRKN09x5GYej2LvVrprn/Wholesale_Data_Cleaned.csv')

# Write your code here
wholesale

     Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen Channel
0    12669  9656     7561     214              2674        1338    Cafe
1     7057  9810     9568    1762              3293        1776   Hotel
2     6353  8808     7684    2405              3516        7844   Hotel
3    13265  1196     4221    6404               507        1788    Cafe
4    22615  5410     7198    3915              1777        5185   Hotel
..     ...   ...      ...     ...               ...         ...     ...
295  16823   928     2743   11559               332        3486    Cafe
296  27082  6817    10790    1365              4111        2139    Cafe
297  13970  1511     1330     650               146         778   Hotel
298   9351  1347     2611    8170               442         868   Hotel
299      3   333     7021   15601                15         550   Hotel

[300 rows x 7 columns]

In [73]:
wholesale.groupby(by='Channel').sum().sum(axis=1).sort_values().index[0]

'Restaurant'