In [5]:
s = 'Exam is going to be good'

In [7]:
' '.join([w[::-1] for w in s.split()])

'maxE si gniog ot eb doog'

In [8]:
ls =['3_xy.png','04_xy.txt','2_z.png','04_xy.txt']

In [9]:
sorted(ls,key=lambda x:int(x.split('_')[0]))

['2_z.png', '3_xy.png', '04_xy.txt', '04_xy.txt']

In [21]:
d1 ={'a':1,'b':2,'c':3,'d':4}
{k:v for k,v in d1.items() if v%2==0}

{'b': 2, 'd': 4}

In [23]:
import pandas as pd
import random

In [24]:
temp = pd.DataFrame()
temp['xyz'] = random.choices(['x','y','z'],k=100)
temp['target'] = random.choices([0,1],k=100)

In [35]:
%matplotlib inline

In [46]:
temp.groupby('xyz').target.value_counts().unstack()#.plot(kind='bar',stacked=True)

target   0   1
xyz
x       14  15
y       19  15
z       20  17

In [55]:
re.sub('test#','','test#######test#')

'######'

In [47]:
import time

In [48]:
time.strptime('01/10/2020','%d/%m/%Y')

time.struct_time(tm_year=2020, tm_mon=10, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=275, tm_isdst=-1)

In [ ]:
f1 = lambda p,r: 2*(p*r)/(p+r)
f1(0.6,0.8)

In [ ]:
l1 = ["manish", 'sumit','rajesh','nekanti']
l2 = ["kumar", 'gupta','katreddy','shivaramakrishna']
from itertools import product
[f+' '+l for f,l in product(l1,l2)]